@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>WELCOME TO SK TAMAGOCHI</h1>
  </div>
</div>
<div class="container">
  <h2><a href='/owners/new'>Add a New Owner</a></h2><br>
  <h2><a href='/owners'>View Owners's List</a></h2>

</div>
